body, html {
	margin: 0;
	padding: 0;
}

#facebookFeed-app {
	position: relative;
	max-width: 480px;
	min-height: 120px;
	color: #1d2129;
	overflow: auto;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		max-width: 0;
		max-height: 0;
		background: rgba(255, 255, 255, .6) url(../images/preloader.svg) center center/64px no-repeat;
		overflow: hidden;
		opacity: 0;

		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-o-transition: opacity .3s;
		transition: opacity .3s;
	}
	
	&.loading:before {
		max-width: 100%;
		max-height: 100%;
		opacity: 1;
	}
	
	&, * {
		line-height: 1.4;
		font-family: "Raleway", sans-serif;
		font-size: 12px;
		outline: none;
		word-break: break-word;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
	}

	a,
	a:active,
	a:visited {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
		cursor: pointer;
	}
		
	ul {
		margin: 0;
		padding: 1px;

		li {
			margin: 5px;
			padding: 10px;
			list-style: none;
			background-color: #fff;
			border: 1px solid #dddfe2;
			overflow: hidden;
		
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;

			.ff-header {
				margin-bottom: 15px;

				.ff-user-photo,
				.ff-meta-info {
					display: inline-block;
					vertical-align: middle;
				}

				.ff-user-photo {
					width: 40px;
					height: 40px;
					overflow: hidden;
		
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-o-border-radius: 50%;
					border-radius: 50%;

					img {
						display: block;
					}
				}

				.ff-meta-info {
					margin-left: 10px;
					width: #{calc(100% - 60px)};

					a {
						display: inline-block;
						color: #365899;
						font-size: 120%;
						font-weight: 700;					
					}
	
					.ff-date {
						margin-top: 2px;
						display: block;
						color: #616770;
					}
				}
			}

			.ff-body {
				margin-bottom: 10px;

				.ff-body-text {
					margin-bottom: 10px;

					.ff-title {
						font-size: 14px;
						font-weight: 700;
					}

					.ff-story {
						font-style: italic;
					}

					.ff-messages {
						margin-top: 8px;
					}
				}

				.ff-photos,
				.ff-video {
					margin-bottom: 10px;
					border: 1px solid #ccc;

					a {
						display: none;

						&:first-of-type,
						img {
							display: block;
						}
					}
				}

				.ff-video {
					.ff-video-thumb {
						position: relative;

						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							display: block;
							width: 100%;
							height: 100%;
							background: rgba(0, 0, 0, .6) url(../images/play-button.svg) center center/64px no-repeat;
							opacity: 0;

							-webkit-transition: opacity .3s;
							-moz-transition: opacity .3s;
							-o-transition: opacity .3s;
							transition: opacity .3s;
						}

						&:hover:before {
							opacity: 1;
						}
					}

					.ff-video-info {
						padding: 10px;

						.ff-video-title {
							margin-bottom: 10px;
							font-weight: 700;
						}
					}
				}
			}

			.ff-footer {
				margin: 0 -10px -10px -10px;
				background-color: #f2f3f5;
				border-top: 1px solid #e1e2e3;

				.ff-footer-meta {
					padding: 10px;

					&:after {
						content: "";
						display: block;
						clear: both;
					}

					span {
						margin-right: 10px;
						cursor: pointer;
					}
	
					.ff-gotopost {
						float: right;
						display: block;
						font-weight: 700;
						color: #365899;
					}
				}

				.ff-likes,
				.ff-comments,
				.ff-attachments {
					margin: 0;
					padding: 0;
					max-height: 0;
					background-color: #fff;
					overflow: hidden;

					-webkit-transition: max-height .3s;
					-moz-transition: max-height .3s;
					-o-transition: max-height .3s;
					transition: max-height .3s;

					&.active {
						max-height: 180px;
						overflow-y: auto;
					}

					& > div {
						margin: 10px;
						padding-bottom: 10px;
						border-bottom: 1px solid #e1e2e3;

						&:last-child {
							padding-bottom: 0;
							border-bottom-width: 0;
						}
					}

					.ff-user-photo,
					.ff-meta-info {
						display: inline-block;
						vertical-align: middle;
					}

					.ff-user-photo {
						position: relative;
						width: 36px;
						height: 36px;

						img {
							display: block;
			
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							-o-border-radius: 50%;
							border-radius: 50%;
						}
					}

					.ff-meta-info {
						margin-left: 10px;
						width: #{calc(100% - 60px)};

						a {
							display: inline-block;
							color: #365899;
							font-weight: 700;					
						}
		
						.ff-date {
							margin-top: 2px;
							display: block;
							color: #616770;
						}
					}
				}

				.ff-likes .ff-user-photo:before {
					content: "";
					position: absolute;
					bottom: -3px;
					right: -3px;
					z-index: 9;
					width: 17px;
					height: 17px;
					background: transparent url(../images/facebook-icons.png) -17px -550px no-repeat;
				}

				.ff-comments .ff-comment-body {
					margin-top: 10px;
				}

				.ff-attachments {
					a {
						display: block;
						text-decoration: none;

						&:hover span {
							text-decoration: underline;
						}
					}

					.ff-attachment-icon {
						display: inline-block;
						width: 26px;
						height: 26px;
						vertical-align: middle;
					}

					.ff-attachment-title {
						margin-left: 10px;
						display: inline-block;
						vertical-align: middle;
						color: #000;
					}
				}
			}
		}
	}
}

.fancybox-slide--iframe {
	.fancybox-error,
	.fancybox-iframe {
		background-color: #000;
	}
	
	.fancybox-content {
		height: auto !important;

		&:before {
			content: "";
			display: block;
			height: 0;
			padding-bottom: 56.25%;
		}

		iframe {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}